.style-0 {
    width: 1110pt
}

.style-1 {
    font-size: 1pt; 
    border: none
}

.style-10 {
    font-size: 1pt; 
    border-top: 1pt solid black; 
    border-left: none; 
    border-bottom: none; 
    border-right: none
}

.style-11 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: #0066cc; 
    font-family: serif; 
    font-size: 18pt; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    border: none
}

.style-12 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: #0066cc; 
    font-family: serif; 
    font-size: 18pt; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre
}

.style-13 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: #0066cc; 
    font-family: serif; 
    font-size: 14pt; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    border: none
}

.style-14 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: #0066cc; 
    font-family: serif; 
    font-size: 14pt; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre
}

.style-15 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: serif; 
    font-size: 14pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    border: none
}

.style-16 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: serif; 
    font-size: 14pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre
}

.style-17 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: serif; 
    font-size: 14pt; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    border: none
}

.style-18 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: serif; 
    font-size: 14pt; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre
}

.style-19 {
    font-size: 1pt; 
    background-color: #999999; 
    border: none
}

.style-2 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: serif; 
    font-size: 10pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    border: none
}

.style-20 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: serif; 
    font-size: 16pt; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    background-color: #999999; 
    border: none
}

.style-21 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: serif; 
    font-size: 16pt; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre
}

.style-22 {
    font-size: 1pt; 
    background-color: #003366; 
    border: none
}

.style-23 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: #3366ff; 
    font-family: serif; 
    font-size: 14pt; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    background-color: #003366; 
    border: none
}

.style-24 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: #3366ff; 
    font-family: serif; 
    font-size: 14pt; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre
}

.style-25 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: lime; 
    font-family: serif; 
    font-size: 10pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    border: none
}

.style-26 {
    width: 26pt; 
    height: 15pt
}

.style-27 {
    width: 22pt; 
    height: 15pt
}

.style-28 {
    width: 23pt; 
    height: 15pt
}

.style-29 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: serif; 
    font-size: 10pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre
}

.style-3 {
    width: 114pt; 
    height: 84pt
}

.style-30 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: serif; 
    font-size: 10pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    border: none
}

.style-31 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: serif; 
    font-size: 10pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre
}

.style-32 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: #2f2c35; 
    font-family: "Arial"; 
    font-size: 12pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    border: none
}

.style-33 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: #2f2c35; 
    font-family: "Arial"; 
    font-size: 12pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre
}

.style-4 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: #2f2c35; 
    font-family: serif; 
    font-size: 16pt; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt
}

.style-5 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: #2f2c35; 
    font-family: serif; 
    font-size: 16pt; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre
}

.style-6 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: serif; 
    font-size: 28pt; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    border: none
}

.style-7 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: serif; 
    font-size: 28pt; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre
}

.style-8 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: serif; 
    font-size: 18pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    border: none
}

.style-9 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: serif; 
    font-size: 18pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre
}

