* { padding: 0; margin: 0; }

body {
  color: white;
  background-color:#FFF
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: small;
  


}

#wrapper{
   background-color:#FFF;
   background-image:url(navi_bg_solid.jpg);
   background-repeat:repeat;
   background-position:top left;
   

}

#cabecera{
   background-color:#096;
   background-image:url(navi_bg_solid.jpg);
   background-repeat:repeat;
   background-position:top left;
   border-bottom-style:solid;
   border-bottom-color:#000;
   border-bottom-width:thin;
}

#cabecera label{
	text-align:center;
	display:block;


}

#cabecera img{
	
}

#cabecera ul{
	
}
#cabecera li{
	list-style:none;
	display:inline;


		
}

#cabecera li img{

}

#panelcentral
{
	height:100%;

	
}

#panelcentral #navegacion
{

	float:left;
	width:10%;
	color:#000;

	
}

#panelcentral #navegacion #menu-ventas{  	

	  width:110px;
	  background-color:#096;	
	  display: none;  	
	  padding:5px;  	
	  border:2px solid #FADDA9;
 
}  




#panelcentral #contenido
{
	display:inline;
	color:#000;
	background-color:#FFF;
	float:right;
	width:87%;
	padding-left:2%;
}


#pie{
	
    clear:both;	

	margin:0;

}

#pie p{
	text-align:center;

	background-image:url(navi_bg_solid.jpg);
    background-repeat:repeat;
    background-position:top left;
	border-top-style:solid;
	border-top-color:#000;
	border-top-width:thin;

}

/********* Elementos Comunes ******************************/

h1{
	text-align:center;
}
/********* Formularios Genéricos ***************************/
form{

}

form h1{
	text-align:center;
	
	
}

form h2{
	margin-top:15px;
	font-size:medium;
	color:#333;
	font-style:italic;
	
}

form ul{
	list-style:none;
	
	
}
form li{
	padding:3px;   
}

form label{
	
	display:inline-block;
	width:100px;	
	padding-right:3px;	
}


/** #datosPrincipales, #datosContacto, #datosDomicilio, #datosResponsable{
	border-bottom-style:solid;
	border-bottom-width:thin;

} **/

#datosPrincipales{
	float:left;
	width:50%;

}

#datosDomicilio{
	float:right;
	width:50%;

}

form input, form select{
	width:200px;	
}

form input[type="button"]{

	width:100px;
	padding:1px;
	margin-top:5px;
}

