/*ventanas*/
.ventana
{
	background-color:#969594;
	padding:2px;
	margin:5px;
}
.ventana h1
{
	font-family:calibri, "Arial Narrow", Arial, "Bell MT";
	font-size:20px;
	font-style:italic;
	color:#DEDEDD;
	padding-left:5px;
}
.formulario
{
	background-color: #bab3d6;
	border: solid thin grey;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

.contenedor_tabla_listado
{
	background-color:#8E84B7;
	overflow:auto;
	border: thin solid black;
}

.tabla_listado
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:100%;
	border-collapse:collapse;
	background:#999999;
}

.tabla_listado td, .tabla_listado th 
{
	font-size:1em;
	border:1px solid black;
	padding:3px 7px 2px 7px;
}
.tabla_listado th
{
	background-color:#C4BF66;
	font-size:16px;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	color:#000000;
}
.tabla_listado tr.alterna td 
{
	color:#000000;
	background-color:#97946b;
}



.botonera
{
	text-align:right;
	font-size:16px;
	margin-right:5px;
	margin-bottom:1px;
	margin-top:6px;
	
}
.pie_de_tabla
{
	text-align:right;
	margin-right:40px;
	font-size:16px;
	font-style:oblique;
}
.pie_de_tabla label
{
	font-style:normal;
	font-weight:bolder;
}

.formulario table td
{
	padding:2px 5px 2px 5px;
}
.formulario table td label
{
	font-weight:bold;
	font-size:12px;
}
