/*Quitamos margenes y rellenos de todos los elementos*/
*
{
	margin:0px;
	padding:0px;
}

/*Elementos con altura 100%*/
html, body, #wrapper, #cuerpo_tabla
{
	height:100%;
}

/*Wraper (contenido inmediatamente despues del body*/
#wrapper
{
	font-family: Calibri, Helvetica, sans-serif;
	background-image:url(images/bodyFondo.png);
	margin-top:0px;
	margin-bottom:0px;
}
/*Estilo de la barra superior*/
#top
{
	padding-left:110px;
	background-color:#969594;
	font-style:italic;
	font-weight:bold;
	font-size:24px;
	text-align:center;
	font-family:calibri;
	height:4%;
	min-height:28.8px;
}
/*Menu derecho, dentro de la barra superior*/
#top_menu
{
	float:right;
	position:relative;
	top:2px;
	padding-right:5px;
}
/*Elementos dentro del topmenu*/
.top_menu_item
{
	font-family:calibri;
	font-size:12px;
	font-style:italic;
	color:#28166F;
        padding-left:5px;
}
/*Div q contiene a cuerpo_tabl*/
#cuerpo
{
	height:90%;
}
/*tabla q contiene el cuerpo de la pagina*/
#cuerpo_tabla, #cuerpo_tabla tr,#cuerpo_tabla tbody 
{
	width:100%;
	height:100%;
}

/*Barra lateral izquierda*/
#celda_izquierda
{
	width:240px;
	height:100%;
}
#barra_lateral_izquierda
{
	height:90%;
	background-image:url(images/fondo_barra_lateral_izquierda.PNG);
	background-position:right top;
	padding-top:5px;
	padding-right:5px;
        
        
}
/*logo de la empresa*/
#logo
{
	margin:10px;
	height:100px;
	width:136px;
	background-image:url(images/logo.PNG);
}
/*Contenedor del menu*/
#contenedor_menu_navegacion
{
	padding-left:5px;
        overflow: scroll;
        height: 70%;
        
}
/*menu de navegacion*/
#menu_navegacion
{
	font-size:16px;
	font-weight:bold;
	font-family:calibri, "Arial Narrow", Arial, "Bell MT";
}
/*Elementos dentro del men�*/
#menu_navegacion li
{
	height:auto;
	width:auto;
	margin-top:3px;
	margin-bottom:3px;
/*	border: 1px solid #667AB3;
	border-right:none;
	border-left:5px solid #667AB3;*/
	padding-left:0px;
	padding-right:5px;
}
#menu_navegacion a:hover
{
	background-color:#667AB3;
	color:white;
}
/*elementos activos dentro del menu de navegacion*/
.activo
{
	background-color:#667AB3;
	color:white;
}
/*Links dentro del menu de navegacion*/
#menu_navegacion a
{
	font-size:12px;
	margin-left:15px;
	font-style:italic;
	font-weight:normal;
	margin-top:0px;
	display:block;
}
#copyrights
{
	height:10%;
	font-style:italic;
	background-image:url(images/fondo_copyrights.PNG);
	background-position:right bottom;
	text-align:center;
}

/*Contenido del CU*/
#contenido
{
	padding:0px 10px 0px 10px;
	height:100%;
	
}
/*top del contenido*/
#aplicacion_top
{
	padding:0px 10px 0px 10px;
	height:10%;
	min-height:50px;
}
/*titulo del top del contenido*/
#titulo_aplicacion_top
{
	color:#667AB3;
	font-style:italic;
	font-weight:bold;
	font-size:24px;
	font-family:calibri;
	text-decoration:underline;
	height:70%;
}
/*Menu en el top del contenido*/
#top_contenido_menu
{	text-align:right;
	height:30%;        
	font-size:11px;
	font-style:italic;
	        
        
}
/*links dentro del top_menu_contenido*/
#top_contenido_menu a
{
        display:inline-block;
        text-decoration:none;
	color:#000000;
	padding-left:5px;
}
#top_contenido_menu span
{
        display:inline-block;
        
        color:#999999;
        padding-left:5px;
}
/*Cuerpo del contenido*/
#aplicacion_area
{
	width:100%;
	height:90%;
	background-color:#FFFFFF;
	overflow:auto;
}

.nombre_usuario
{

    font-family:calibri;
    font-size:12px;    
    color:#000000;
    padding-left:5px;
}

.Accordion {
	border-left: solid 1px gray;
	border-right: solid 1px black;
	border-bottom: solid 1px gray;
	overflow: hidden;
}

/* This is the selector for the AccordionPanel container which houses the
 * panel tab and a panel content area. It doesn't render visually, but we
 * make sure that it has zero margin and padding.
 *
 * The name of the class ("AccordionPanel") used in this selector is not necessary
 * to make the widget function. You can use any class name you want to style an
 * accordion panel container.
*/
.AccordionPanel {
	margin: 0px;
	padding: 0px;
}

/* This is the selector for the AccordionPanelTab. This container houses
 * the title for the panel. This is also the container that the user clicks
 * on to open a specific panel.
 *
 * The name of the class ("AccordionPanelTab") used in this selector is not necessary
 * to make the widget function. You can use any class name you want to style an
 * accordion panel tab container.
 *
 * NOTE:
 * This rule uses -moz-user-select and -khtml-user-select properties to prevent the
 * user from selecting the text in the AccordionPanelTab. These are proprietary browser
 * properties that only work in Mozilla based browsers (like FireFox) and KHTML based
 * browsers (like Safari), so they will not pass W3C validation. If you want your documents to
 * validate, and don't care if the user can select the text within an AccordionPanelTab,
 * you can safely remove those properties without affecting the functionality of the widget.
 */
.AccordionPanelTab {
	background-color: #CCCCCC;
	border-top: solid 1px black;
	border-bottom: solid 1px gray;
	margin: 0px;
	padding: 2px;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
}

/* This is the selector for a Panel's Content area. It's important to note that
 * you should never put any padding on the panel's content area if you plan to
 * use the Accordions panel animations. Placing a non-zero padding on the content
 * area can cause the accordion to abruptly grow in height while the panels animate.
 *
 * Anyone who styles an Accordion *MUST* specify a height on the Accordion Panel
 * Content container.
 *
 * The name of the class ("AccordionPanelContent") used in this selector is not necessary
 * to make the widget function. You can use any class name you want to style an
 * accordion panel content container.
 */
.AccordionPanelContent {
	overflow: auto;
	margin: 0px;
	padding: 0px;
	height: 250px;
}

/* This is an example of how to change the appearance of the panel tab that is
 * currently open. The class "AccordionPanelOpen" is programatically added and removed
 * from panels as the user clicks on the tabs within the Accordion.
 */
.AccordionPanelOpen .AccordionPanelTab {
	background-color: #EEEEEE;
}

/* This is an example of how to change the appearance of the panel tab as the
 * mouse hovers over it. The class "AccordionPanelTabHover" is programatically added
 * and removed from panel tab containers as the mouse enters and exits the tab container.
 */
.AccordionPanelTabHover {
	color: #555555;
}
.AccordionPanelOpen .AccordionPanelTabHover {
	color: #555555;
}

/* This is an example of how to change the appearance of all the panel tabs when the
 * Accordion has focus. The "AccordionFocused" class is programatically added and removed
 * whenever the Accordion gains or loses keyboard focus.
 */
.AccordionFocused .AccordionPanelTab {
	background-color: #3399FF;
}

/* This is an example of how to change the appearance of the panel tab that is
 * currently open when the Accordion has focus.
 */
.AccordionFocused .AccordionPanelOpen .AccordionPanelTab {
	background-color: #33CCFF;
}
/* Rules for Printing */

@media print {

  .Accordion {
  overflow: visible !important;
  }

  .AccordionPanelContent {
  display: block !important;
  overflow: visible !important;
  height: auto !important;
  }
}

.AccordionPanelContent2 {
	overflow: auto;
	margin: 0px;
	padding: 0px;
	height: 150px;
        
}
.AccordionPanelTab2 {
    font-size: 12px;
    
	background-color: #CCCCCC;
	border-top: solid 1px black;
	border-bottom: solid 1px gray;
	margin: 0px;
	padding: 2px;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
}
