#menuTree, #menuTree ul {
list-style-type: none;
margin-left:15px;
margin-bottom:5px;
padding:0;
}
#menuTree ul ul{
margin-left: 2px;
}
.handle { 
	background: transparent url(images/tree-handle.png) no-repeat left top;
	display:block; 
	float:left;
	width:10px; 
	height:10px;
	cursor:pointer;
}
.closed { background-position: left top; }
.opened { background-position: left -10px; }