.ven
{
	background-color:#969594;
	padding:2px;
}
#izq
{
	float:left;
	
	width:400px;
	
}
#der
{
	margin-left:410px;
	
}
#bot
{
	margin-top:5px;
}
.formtop
{
	font-family:calibri, "Arial Narrow", Arial, "Bell MT";
	font-size:20px;
	font-style:italic;
	color:#DEDEDD;
	padding-left:5px;
}
.form
{
	background-color: #bab3d6;
	border: solid thin grey;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	height:150px;
}
.form label
{
	font-weight:bold;
	
}
#bot .form
{
	height:auto;
}
.tableContainer
{
	background-color:#8E84B7;
	overflow:auto;
	max-height: 150px;
	border: thin solid black;
}

.dataTable
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:100%;
	border-collapse:collapse;
	background:#999999;
}
.dataTable td, .dataTable th 
{
	font-size:1em;
	border:1px solid black;
	padding:3px 7px 2px 7px;
}
.dataTable th
{
	background-color:#C4BF66;
	font-size:16px;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	color:#000000;
}
.dataTable tr.alt td 
{
color:#000000;
background-color:#97946b;
}
#conarea p
{
	text-align:right;
	font-size:16px;
	margin-bottom:1px;
	margin-top:6px;
	
}
p#total
{
	margin:0px;
}
