body {
	font-family: Calibri, Helvetica, sans-serif;
	background-image: url(bodyFondo.png);
}
#top
{
	background-color:#969594;
	font-style:italic;
	font-weight:bold;
	font-size:24px;
	text-align:center;
	font-family:calibri;
}
.barmenuitem
{
	font-family:calibri;
	font-size:12px;
	font-style:italic;
	color:#000000;
}
#usrmenu
{
	float:right;
	padding-right:5px;
}
.usrmenuitem
{
	color:#28166F;
	text-align:center;
	font-style:italic;
	font-size:12px;
}
#cuerpo
{
	
}
body #cuerpo #navegacion
{
	float:left;
}
#contenido
{
	
	margin-left:2px;
	
}
#navtop
{
	margin:10px;
	height:100px;
	width:136px;
	background-image:url(logo.png);
}
#navmenu
{
	height:350px;
	width: 220px;
	padding-right:5px;
}

#contop
{
	padding-top:26px;
	height:50px;
}
#menubar
{
	position:relative;
	top:30px;
	float:right;
}
#modulo
{
	float:left;
	font-family:calibri;
	font-style:italic;
	font-weight:bold;
	font-size:24px;
	text-decoration:underline;
	color:#667ab3;
}
#conarea
{
	background-color:#ffffff;
	overflow:auto;
	height:425px;
	padding:5px;
}

.activo
{
	background-color:#C4BF66;
}
.activo a
{
	
	text-decoration:none;
	color:#ffffff;
}
.inactivo a
{
	color:black;
}
.dos
{
	padding-left:15px;
	font-size:12px;
}
.uno
{
	font-size:20px;
	
}
#menu
{
	width:100%;
	border-collapse:collapse;
}
#menu a
{
	display:block;
	width:100%;
}
.barra
{
	background-color:#c4bf66;
	width:4px;
}

#menu tr
{
	border-top:2px solid #BCBCBC;
	border-bottom:2px solid #BCBCBC;
}