body {
	font-family: Calibri, Helvetica, sans-serif;
	background-image: url(bodyFondo.png);
}
body #top
{
	background-color:#969594;
	font-style:italic;
	font-weight:bold;
	font-size:24px;
	text-align:center;
	font-family:calibri;
}
.barmenuitem
{
	font-family:calibri;
	font-size:12px;
	font-style:italic;
	color:#000000;
}
body #top #usrmenu
{
	float:right;
	padding-right:5px;
}
.usrmenuitem
{
	color:#28166F;
	text-align:center;
	font-style:italic;
	font-size:12px;
}
body #cuerpo
{
}
body #cuerpo #navegacion
{
	float:left;
}
body #cuerpo #contenido
{
	float:right;
	width:1000px;
	height:540px;
	
}
body #cuerpo #navegacion #navtop
{
	margin:10px;
	height:100px;
	width:136px;
	background-image:url(logo.png);
}
body #cuerpo #navegacion #navmenu
{
	height:400px;
	width: 220px;
}
body #cuerpo #navegacion #navmenu ul
{
	font-family: Arial, Helvetica, sans-serif;
	text-align:left;
	font-style:normal;
}
body #cuerpo #navegacion #navmenu ul li.inactivo1 a
{
	font-size:16px;
	margin-left:0px;
	color:#000000;
}
body #cuerpo #navegacion #navmenu ul li.activo1 a
{
	font-size:16px;
	margin-left:0px;
	color:#667AB3;
}
body #cuerpo #navegacion #navmenu ul li.inactivo2 a
{
	font-size:12px;
	margin-left:5px;
}
body #cuerpo #navegacion #navmenu ul li.activo2 a
{
	font-size:12px;
	margin-left:5px;
	color:#667AB3;
}
body #cuerpo #contenido #contop
{
	padding-top:50px;
	height:50px;
}
body #cuerpo #contenido #contop #menubar
{
	position:relative;
	top:30px;
	float:right;
}
body #cuerpo #contenido #contop #modulo
{
	float:left;
	font-family:calibri;
	font-style:italic;
	font-weight:bold;
	font-size:24px;
	text-decoration:underline;
	color:#667ab3;
}
body #cuerpo #contenido #conarea
{
	background-color:#ffffff;
	height:433px;
	overflow:auto;
}
 
