.hoja
{
	background:#F1F7FB;
	margin:5px;
	border-top:4px ridge #333;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
	border-left:4px ridge #333;
	padding:5px;
}
.hoja h1
{
	
	color:#003366;
	padding-left:25%;
	border-bottom:2px solid #003366;
	font-size:18px;
	font-family:"Helvetica Neue",Helvetica,Arial,Verdana,Geneva,sans-serif;
	font-weight:100;
	line-height:1.41667;
}
.hoja label
{
}