/*Elementos con altura 100%*/
html
{
	height:100%;
}
body, #wraper, #cuerpo_tabla
{
	height:100%;
}
/*Quitamos margenes y rellenos de todos los elementos*/
*
{
	margin:0px;
	padding:0px;
}
/*Wraper (contenido inmediatamente despues del body*/
#wraper
{
	font-family: Calibri, Helvetica, sans-serif;
	background-image: url(bodyFondo.png);
	margin-top:0px;
	margin-bottom:0px;
}
/*Estilo de la barra superior*/
#top
{
	padding-left:110px;
	background-color:#969594;
	font-style:italic;
	font-weight:bold;
	font-size:24px;
	text-align:center;
	font-family:calibri;
	height:4%;
	min-height:28.8px;
}
/*Menu derecho, dentro de la barra superior*/
#topmenu
{
	float:right;
	position:relative;
	top:2px;
	padding-right:5px;
}
/*Elementos dentro del topmenu*/
.topmenuitem
{
	font-family:calibri;
	font-size:12px;
	font-style:italic;
	color:#28166F;
}
/*Div q contiene a cuerpo_tabl*/
#cuerpo
{
	height:90%;
}
/*tabla q contiene el cuerpo de la pagina*/
#cuerpo_tabla, #cuerpo_tabla tr,#cuerpo_tabla tbody 
{
	width:100%;
	height:100%;
}

/*Barra lateral izquierda*/
#celda_izquierda
{
	width:186px;
	height:100%;
}
#barra_lateral_izquierda
{
	height:100%;
}
/*logo de la empresa*/
#logo
{
	margin:10px;
	height:100px;
	width:136px;
	background-image:url(logo.png);
}
/*Contenedor del menu*/
#contenedor_menu_navegacion
{
	padding-left:5px;
}
/*menu de navegacion*/
#menu_navegacion
{
	font-size:20px;
	font-weight:bold;
	font-family:calibri, "Arial Narrow", Arial, "Bell MT";
}
/*Elementos dentro del menú*/
#menu_navegacion li
{
	height:auto;
	width:auto;
	margin-top:3px;
	margin-bottom:3px;
	border: 1px solid #667AB3;
	border-right:none;
	border-left:5px solid #667AB3;
	padding-left:5px;
	padding-right:5px;
}
#menu_navegacion li:hover
{
	background-color:#667AB3;
	color:#ffffff;
}
/*elementos activos dentro del menu de navegacion*/
.activo
{
	background-color:#667AB3;
	color:#ffffff;
}
/*Links dentro del menu de navegacion*/
#menu_navegacion a
{
	font-size:12px;
	color:inherit;
	margin-left:15px;
	font-style:italic;
	font-weight:normal;
	margin-top:0px;
	display:block;
}
/*Contenido del CU*/
#contenido
{
	padding:0px 10px 0px 10px;
	height:100%
}
/*top del contenido*/
#aplicacion_top
{
	padding:0px 10px 0px 10px;
	height:10%;
	min-height:50px;
}
/*titulo del top del contenido*/
#titulo_aplicacion_top
{
	color:#667AB3;
	font-style:italic;
	font-weight:bold;
	font-size:24px;
	font-family:calibri;
	text-decoration:underline;
	height:70%;
}
/*Menu en el top del contenido*/
#top_contenido_menu
{
	text-align:right;
	height:30%;
}
/*links dentro del top_menu_contenido*/
#top_contenido_menu a
{
	color:#000000;
	font-size:11px;
	font-style:italic;
	text-decoration:none;
}
/*Cuerpo del contenido*/
#aplicacion_area
{
	width:100%;
	height:90%;
	background-color:#FFFFFF;
	overflow:auto;
}


