<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3307/seee</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">infernal999</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping class="model.Detallecobropedido"/>
    <mapping class="model.Detallenotificacionreaprovisionamiento"/>
    <mapping class="model.Detallefactura"/>
    <mapping class="model.Estadodetalleordencompra"/>
    <mapping class="model.Detallecartera"/>
    <mapping class="model.Devolucionproductosterminados"/>
    <mapping class="model.Detalleordencompraproductoimportado"/>
    <mapping class="model.Empresatransporte"/>
    <mapping class="model.Detalleordencompra"/>
    <mapping class="model.Ordencompra"/>
    <mapping class="model.Tipofactura"/>
    <mapping class="model.Ubicacion"/>
    <mapping class="model.Productosdefectuosos"/>
    <mapping class="model.Color"/>
    <mapping class="model.Muestrario"/>
    <mapping class="model.Detalleventa"/>
    <mapping class="model.Venta"/>
    <mapping class="model.Productofabricado"/>
    <mapping class="model.Cobroefectivo"/>
    <mapping class="model.Tipodni"/>
    <mapping class="model.Materiaprima"/>
    <mapping class="model.Localidad"/>
    <mapping class="model.Estadocartera"/>
    <mapping class="model.Condicioniva"/>
    <mapping class="model.Estadopedidoproductosterminados"/>
    <mapping class="model.Cobrocheque"/>
    <mapping class="model.Estadoordencompra"/>
    <mapping class="model.Detalleordencompramateriaprima"/>
    <mapping class="model.Estadoventa"/>
    <mapping class="model.Creditocliente"/>
    <mapping class="model.Hojaruta"/>
    <mapping class="model.Ordencompraximportacion"/>
    <mapping class="model.Otrosgastos"/>
    <mapping class="model.Persona"/>
    <mapping class="model.Proveedor"/>
    <mapping class="model.Notificacionreaprovisionamiento"/>
    <mapping class="model.Empleado"/>
    <mapping class="model.Cheque"/>
    <mapping class="model.Pago"/>
    <mapping class="model.Productoterminado"/>
    <mapping class="model.Accesorio"/>
    <mapping class="model.Detalledevolucionproductosterminados"/>
    <mapping class="model.Compra"/>
    <mapping class="model.Divisa"/>
    <mapping class="model.Estadocobrocheque"/>
    <mapping class="model.Provincia"/>
    <mapping class="model.Detallehojaruta"/>
    <mapping class="model.Detallepedidoproductosterminados"/>
    <mapping class="model.Cobropedido"/>
    <mapping class="model.Estadocobropedido"/>
    <mapping class="model.Cargo"/>
    <mapping class="model.Tipodefecto"/>
    <mapping class="model.Empresacliente"/>
    <mapping class="model.Detallemateriaprima"/>
    <mapping class="model.Productoimportado"/>
    <mapping class="model.Tipoaccesorio"/>
    <mapping class="model.Productosdefectuososxcompra"/>
    <mapping class="model.Importacion"/>
    <mapping class="model.Domicilio"/>
    <mapping class="model.Rentabilidadcliente"/>
    <mapping class="model.Viajante"/>
    <mapping class="model.Pedidoproductosterminados"/>
    <mapping class="model.Empresaclientexpersona"/>
    <mapping class="model.Estadodetallepedidoproductoterminado"/>
    <mapping class="model.Estadodetalleventa"/>
    <mapping class="model.Barrio"/>
    <mapping class="model.Lote"/>
    <mapping class="model.Tamano"/>
    <mapping class="model.Factura"/>
    <mapping class="model.Modelo"/>
    <mapping class="model.Estadonotificacionreaprovisionamiento"/>
    <mapping class="model.Marca"/>
    <mapping class="model.Detallecompra"/>
   
  </session-factory>
</hibernate-configuration>
