.style-0 {
    width: 772pt
}

.style-1 {
    font-size: 1pt; 
    border: none
}

.style-10 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    padding-left: 5pt; 
    padding-right: 5pt; 
    color: black; 
    font-family: "Tahoma"; 
    font-size: 9pt; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 6pt; 
    letter-spacing: 0pt; 
    background-color: #ffaa00; 
    border: none
}

.style-11 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: "Tahoma"; 
    font-size: 9pt; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 6pt; 
    letter-spacing: 0pt; 
    white-space: pre
}

.style-12 {
    font-size: 1pt; 
    background-color: #123d82; 
    border: none
}

.style-13 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: white; 
    font-family: "Tahoma"; 
    font-size: 8pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    background-color: #123d82; 
    border: none
}

.style-14 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: white; 
    font-family: "Tahoma"; 
    font-size: 8pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre
}

.style-15 {
    padding-top: 10pt; 
    padding-left: 5pt; 
    padding-right: 5pt; 
    color: black; 
    font-family: "Tahoma"; 
    font-size: 9pt; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    border-top: 1pt solid black; 
    border-left: 1pt solid black; 
    border-bottom: none; 
    border-right: none
}

.style-16 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: "Tahoma"; 
    font-size: 9pt; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre
}

.style-17 {
    font-size: 1pt; 
    border-top: 1pt solid black; 
    border-left: none; 
    border-bottom: none; 
    border-right: none
}

.style-18 {
    border-top: 1pt solid black; 
    border-left: 1pt solid black; 
    border-bottom: 1pt solid black; 
    border-right: 1pt solid black; 
    padding-left: 5pt; 
    padding-right: 5pt; 
    color: black; 
    font-family: "Tahoma"; 
    font-size: 8pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    border: 1pt solid black
}

.style-19 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: "Tahoma"; 
    font-size: 8pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre
}

.style-2 {
    font-size: 1pt; 
    border-top: 1pt solid #123d82; 
    border-left: none; 
    border-bottom: none; 
    border-right: none
}

.style-20 {
    border-top: 1pt solid black; 
    border-left: 1pt solid black; 
    border-bottom: 1pt solid black; 
    border-right: 1pt solid black; 
    padding-left: 5pt; 
    padding-right: 5pt; 
    color: black; 
    font-family: "Tahoma"; 
    font-size: 8pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    border: 1pt solid black
}

.style-21 {
    color: black; 
    font-family: "Tahoma"; 
    font-size: 8pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt
}

.style-22 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: "Tahoma"; 
    font-size: 8pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre
}

.style-23 {
    border-top: 1pt solid black; 
    border-left: 1pt solid black; 
    border-bottom: 1pt solid black; 
    border-right: 1pt solid black; 
    padding-left: 5pt; 
    padding-right: 5pt; 
    color: black; 
    font-family: "Tahoma"; 
    font-size: 8pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    background-color: #ff0000; 
    border: 1pt solid black
}

.style-24 {
    font-size: 1pt; 
    border-top: none; 
    border-left: 1pt solid black; 
    border-bottom: none; 
    border-right: none
}

.style-25 {
    overflow: hidden; 
    width: 117pt; 
    height: 11pt
}

.style-26 {
    border-top: 1pt solid black; 
    border-left: 1pt solid black; 
    border-bottom: 1pt solid black; 
    border-right: 1pt solid black; 
    padding-left: 5pt; 
    padding-right: 5pt; 
    color: black; 
    font-family: "Tahoma"; 
    font-size: 8pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    background-color: lime; 
    border: 1pt solid black
}

.style-27 {
    padding-top: 10pt; 
    padding-left: 5pt; 
    padding-right: 5pt; 
    color: black; 
    font-family: "Tahoma"; 
    font-size: 9pt; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    border-top: 1pt solid white; 
    border-left: 1pt solid black; 
    border-bottom: none; 
    border-right: none
}

.style-3 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: sans-serif; 
    font-size: 12pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    border: none
}

.style-4 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: sans-serif; 
    font-size: 12pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre
}

.style-5 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: serif; 
    font-size: 10pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    border: none
}

.style-6 {
    width: 341pt; 
    height: 52pt
}

.style-7 {
    font-size: 1pt; 
    background-color: white; 
    border: none
}

.style-8 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: "Arial"; 
    font-size: 12pt; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 3pt; 
    letter-spacing: 0pt; 
    border: none
}

.style-9 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: "Arial"; 
    font-size: 12pt; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 3pt; 
    letter-spacing: 0pt; 
    white-space: pre
}

