.style-0 {
    width: 772pt
}

.style-1 {
    font-size: 1pt; 
    border: none
}

.style-10 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: "Arial"; 
    font-size: 9pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre
}

.style-11 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: "Arial"; 
    font-size: 9pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    background-color: #e7e7e7; 
    border: 1pt solid silver
}

.style-12 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: "Arial"; 
    font-size: 9pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre
}

.style-13 {
    color: black; 
    font-family: "Arial"; 
    font-size: 9pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    border-top: 1pt solid silver; 
    border-left: 1pt solid silver; 
    border-bottom: 1pt solid silver; 
    border-right: none
}

.style-14 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: "Arial"; 
    font-size: 9pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    border: 1pt solid silver
}

.style-15 {
    font-size: 1pt; 
    background-color: #c0d0e0; 
    border: none
}

.style-16 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: #ff7d17; 
    font-family: "Arial"; 
    font-size: 12pt; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    background-color: #c0d0e0; 
    border: none
}

.style-17 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: #ff7d17; 
    font-family: "Arial"; 
    font-size: 12pt; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre
}

.style-18 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: #ff7d17; 
    font-family: "Arial"; 
    font-size: 12pt; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    background-color: #c0d0e0; 
    border: none
}

.style-19 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: #ff7d17; 
    font-family: "Arial"; 
    font-size: 12pt; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre
}

.style-2 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: silver; 
    font-family: "Arial"; 
    font-size: 8pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    border: none
}

.style-20 {
    font-size: 1pt; 
    background-color: #e0d0c0; 
    border: none
}

.style-21 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: #ff7d17; 
    font-family: "Arial"; 
    font-size: 12pt; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    background-color: #e0d0c0; 
    border: none
}

.style-22 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: #ff7d17; 
    font-family: "Arial"; 
    font-size: 12pt; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    background-color: #e0d0c0; 
    border: none
}

.style-23 {
    color: silver; 
    font-family: "Arial"; 
    font-size: 8pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    border-top: 1pt solid #9eaa36; 
    border-left: none; 
    border-bottom: none; 
    border-right: none
}

.style-3 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: silver; 
    font-family: "Arial"; 
    font-size: 8pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre
}

.style-4 {
    font-size: 1pt; 
    border-top: 1pt solid #9eaa36; 
    border-left: none; 
    border-bottom: none; 
    border-right: none
}

.style-5 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: serif; 
    font-size: 10pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    border: none
}

.style-6 {
    width: 600pt; 
    height: 400pt
}

.style-7 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: #767676; 
    font-family: "Arial"; 
    font-size: 12pt; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    border: none
}

.style-8 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: #767676; 
    font-family: "Arial"; 
    font-size: 12pt; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre
}

.style-9 {
    color: black; 
    font-family: "Arial"; 
    font-size: 9pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    background-color: #e7e7e7; 
    border-top: 1pt solid silver; 
    border-left: 1pt solid silver; 
    border-bottom: 1pt solid silver; 
    border-right: none
}

